@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    /* ## Colors */

    /* ### Primary colors*/
    --Brigt-Red: hsl(12, 88%, 59%);
    --Dark-Blue: hsl(228, 39%, 23%);

    /* ### Neutral */

    --Dark-Grayish-Blue: hsl(227, 12%, 61%);
    --Very-Dark-Blue: hsl(233, 12%, 13%);
    --Very-Pale-Red: hsl(13, 100%, 96%);
    --Vary-Light-Gray: hsl(0, 0%, 98%);

}


html {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 62.5%;
}

body {
    overflow-x: hidden;

}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2em;
}

a {
    text-decoration: none;
    color: var(--Dark-Blue);
}


h1 {
    font-size: 6rem;
}

p {
    font-size: 1.8rem;
    line-height: 1.6em;
    color: var(--Dark-Grayish-Blue);
}

header {
    padding: 4em 0;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    list-style: none;
    padding: 0 .5em;
}

section {
    margin: 10em 0;
}

.btn {
    width: 12em;
    padding: 1.2em;
    border-radius: 2em;
    outline: none;
    border: none;
    background-color: var(--Brigt-Red);
    color: #fff;
    font-size: 1.5rem;
    box-shadow: 0px 4px 10px var(--Brigt-Red);
}

.btn:hover {
    filter: brightness(1.4);
    cursor: pointer;
}

/* hero section */

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 2em;
    align-items: center;
}

li {
    margin: 0 0rem;
    overflow: hidden;
    font-size: 1.4rem;
    letter-spacing: .1em;
    font-weight: 300;
    list-style: none;
    margin-left: 1em;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #000000;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
    z-index: 2;
}

.menu-button::before {
    content: "";
    margin-top: -8px;
}

.menu-button::after {
    content: "";
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
    background-color: #000000;
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
    background-color: #000000;

}

.nav-mid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    align-items: center;
}

.div-hero {
    display: flex;
}

.div-hero-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4em;
}

.div-hero-left h1 {
    color: var(--Dark-Blue);
}

.div-hero-left p {
    width: 70%;
}

.div-hero-right {
    position: relative;
}

.img-pattern {
    position: absolute;
    top: -30em;
    right: -30em;
    z-index: -1;
}

.img-illustration {
    margin: 10em 0 0 8em;
}

#hero {
    margin: 0;
}

/* feature section */

.div-feature {
    display: flex;
}

.feature {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.feature-left,
.feature-right {
    width: 50%;
}

.feature-left {
    padding-right: 10em;
    position: relative;
}

.feature-bg {
    position: absolute;
    left: -60em;
    top: 35em;
    z-index: -1;
}

.feature-left p {
    width: 70%;
    margin-top: 2em;
}

.feature-left h2 {
    color: var(--Dark-Blue);
    font-size: 4.5rem;
}

.f-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3em;
}

.f-left span {
    background-color: var(--Brigt-Red);
    color: #fff;
    font-size: 2rem;
    padding: .6em 1.4em;
    border-radius: 3em;
    font-weight: 700;
}

.feature-right {
    display: flex;
    flex-direction: column;
    gap: 4em;
}


.f-right {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-left: 11em;
}

.f-left h4 {
    font-size: 2rem;
    color: var(--Dark-Blue);
}

/* testimonial section */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-pagination {
    opacity: 1;
    transition: b;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border: 2px solid var(--Brigt-Red);
    opacity: 1;

}

.swiper-pagination-bullet-active {
    background-color: var(--Brigt-Red) !important;
}


.div-testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-testimonials h2 {
    font-size: 4rem;
    color: var(--Dark-Blue);
}

.div-reviews {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4em;
    margin: 15em 0 6em 0;
}

.testimonial {
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    text-align: center;
    background-color: var(--Vary-Light-Gray);
    padding: 4em;
}

.testimonial h4 {
    font-size: 2rem;
    color: var(--Dark-Blue);
}

.testimonial img {
    margin-top: -10em;
}

/* orange banner section */
#orange {
    background-color: var(--Brigt-Red);
    overflow: hidden;
    margin-bottom: 0;
}

.div-orange {
    position: relative;

}

.div-orange img {
    position: absolute;
    width: 40%;
    opacity: .1;
}

.div-orange .left-tablet {
    top: 0;
    left: 6em;
}

.div-orange .right-tablet {
    right: -40em;
    bottom: 20em;
}

.div-orange {
    display: flex;
    justify-content: space-between;
    padding: 10em 2em;
    align-items: center;
    gap: 20em;
}

.div-orange .right .btn {
    background-color: #fff;
    color: var(--Brigt-Red);
}

.div-orange h1 {
    font-size: 4rem;
    width: 70%;
    color: #fff;
}

/* footer section */
footer {
    background-color: var(--Very-Dark-Blue);
    padding: 8em 0;
    color: #fff;
}

.div-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form span {
    padding-left: 3em;
    color: var(--Brigt-Red);
    display: none;
}


.div-footer-1 {
    display: flex;
    flex-direction: column;
    gap: 10em;
}

.div-footer-2 {
    display: flex;
    justify-content: space-between;
    gap: 20em;

}

.footer-menu {
    display: flex;
    flex-direction: column;
    gap: 3em;

}

.footer-menu a {
    color: #fff;
}

.footer-menu a:hover {
    color: var(--Brigt-Red);
}

.div-footer-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.div-footer-3 .btn {
    width: 5em;
    box-shadow: none;
}

form div {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.input-control {
    color: var(--Brigt-Red);
    width: 16em;
    padding: 1.2em;
    border-radius: 4em;
    outline: none;
}

#label_error {
    color: var(--Brigt-Red);
    padding-left: 2rem;
    font-size: 1.2rem;
    display: none;
}

.social-media {
    display: flex;
    gap: 2em;
}

.social-media svg {
    color: #fff;
    margin: 0 .5em;
    scale: 1.6;
}

.social-media svg:hover {
    cursor: pointer;
    color: var(--Brigt-Red);
}


@media screen and (max-width: 1080px) and (min-width: 768px) {

    .div-hero-left h1 {
        font-size: 4rem;
    }

    .feature-left h2 {
        font-size: 3rem;
    }

    p {
        font-size: 1.4rem;
        width: 100%;
    }

    .img-illustration {
        margin: 5em 0 3em;
        width: 100%;
    }

    .img-pattern {
        width: 150%;
        top: -60%;
        right: -60%;
    }

    .div-hero-left {
        width: 80%;
    }

    .div-hero-right {
        overflow-x: clip;

    }

    .nav-link {
        font-size: 1rem;
    }

    .menu {
        gap: 0;
    }

    .div-hero {
        padding-right: 0;
    }

    .div-footer {
        display: flex;
        justify-content: space-between;
    }

    .div-footer-2 {
        gap: 2em;
    }
}


@media only screen and (max-width: 768px) {
    .menu-button-container {
        display: flex;
    }

    .nav-right {
        display: none;
    }

    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        width: 90%;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 8em;
        background-color: #fff;
        padding: 4em;
        z-index: 2;
    }

    .menu li {
        font-weight: 700;
        margin: .5em 0;
    }

    #menu-toggle:checked~.menu {
        display: flex;
    }

    .div-hero {
        flex-direction: column-reverse;
        overflow-x: clip;
        text-align: center;
        align-items: center;
    }

    .div-hero-left {
        width: 100%;
        align-items: center;
        gap: 0;
    }

    .div-hero h1 {
        font-size: 3.8rem;
    }

    .div-hero p {
        width: 100%;
        margin: 1em 0 1.5em;
    }

    .img-illustration {
        margin: 5em 0 3em;
        width: 100%;
    }

    .img-pattern {
        width: 150%;
        top: -60%;
        right: -60%;
    }

    .div-feature {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
    }

    .feature-left {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 0 5em 5em 5em;
    }

    .feature-left h2 {
        font-size: 3.2rem;
    }

    .feature-left p {
        width: 100%;
    }

    .feature-left,
    .feature-right {
        width: 100%;
        overflow-x: clip;
    }

    .feature-right {
        padding-left: 2rem;
    }

    .feature-right p {
        padding-right: 2rem;
    }

    .f-left {
        border-radius: 2em 0 0 2em;
        background-color: var(--Very-Pale-Red);
    }

    .f-left h4 {
        width: 100%;
        font-size: 1.4rem;
    }

    .f-right {
        margin: 0;
    }

    .feature-bg {
        width: 100%;
        left: 25em;
        top: -40em;
    }

    .div-testimonials h2 {
        font-size: 3.6rem;
    }

    .div-reviews {
        margin-top: 4em;
    }

    .div-orange {
        flex-direction: column;
        gap: 6em;
        align-items: center;
    }

    .div-orange h1 {
        width: 100%;
        text-align: center;
    }

    .div-orange .right-tablet {
        display: none;
    }

    .div-orange .left-tablet {
        width: 120%;
        left: -35em;
        top: 10em;
    }

    footer {
        padding-bottom: 4em;
    }

    .div-footer {
        flex-direction: column-reverse;
        position: relative;
    }

    .div-footer-3 {
        width: 100%;
    }

    .div-input form div {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .input-control {
        width: 100%;
    }

    .div-copyright {
        position: absolute;
        bottom: 0em;
        width: 80%;
        text-align: center;
        margin: 0 auto;
        left: 0;
        right: 0;

    }

    .div-copyright p {
        font-size: 1.2rem;
    }

    .div-footer-2 {
        margin: 6em 0;
        gap: 0;
    }

    .div-footer-1 {
        flex-direction: column-reverse;
        align-items: center;
        gap: 6em;
        margin-bottom: 10em;
    }

}


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}